{% load i18n %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'video/fonts/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'video/styles/video_list_search.css' %}">

<div class="column bg-light">
    {% for video in page_obj %}
        <div class="container-fluid p-1">
            <a href="{% url 'video:video-detail' video.code %}"
               class="d-flex  m-3 align-content-center text-decoration-none text-black">

                <div class="thumbnail-card w-100 me-1 position-relative image-max-size">

                    <img class="video-thumbnail image-max-size ml-3 rounded float-right"
                         style="width: auto"
                         {% if video.thumbnail %}
                         src="{{ video.thumbnail.url }}"
                         {% else %}
                         src="{% static 'video/images/logo.png' %}"
                         {% endif %}
                         alt="Thumbnail">
                    <span class="badge bg-secondary shadow thumbnail-badge position-absolute">
                        {{ video.duration_str }}
                    </span>
                </div>

                <div class="text-end me-3 w-100">
                    <div class="row pb-2">
                        <div class="col-sm-9">

                            <h5 class="two-line-overflow m-0 py-2">
                                {{ video.title }}
                            </h5>

                            <h6>
                                <small class="text-muted">
                                    {{ video.total_views }} {% trans 'Seen' %} - {{ video.string_date }}
                                </small>
                            </h6>

                        </div>

                        <div class="col-sm-3 align-self-start default-avatar">
                            <div class="d-flex justify-content-end">
                                <p class="col-6 p-2 m-0" id="name">
                                        {{ video.channel.title }}
                                </p>
                                <div class="col-auto">
                                    {% if video.channel.avatar %}
                                        <img alt="Channel Picture" src="{{ video.channel.avatar.url }}" class="channel-picture ml-3 rounded-circle float-right"
                                             style="height: 50px; width: 50px;">
                                    {% else %}
                                        <div id="profileImage" class="channel-picture ml-3 rounded-circle float-right fs-4 pt-2"
                                             style="height: 50px; width: 50px;" ></div>
                                    {% endif %}
                                </div>

                            </div>
                        </div>

                    </div>

                    <div style="max-width: 700px;">
                        <p class="two-line-overflow text-muted">
                            <small>
                                {{ video.description }}
                            </small>

                        </p>

                    </div>

                </div>
            </a>
        </div>
    {% endfor %}

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a id="first-page-btn" class="page-link" aria-label="First">
                        <span aria-hidden="true">
                            1
                        </span>
                    </a>
                </li>

                {% if page_obj.number != 2 %}
                    <li class="page-item">
                        <a class="page-link" style="color: #333333">
                            ...
                        </a>
                    </li>
                    <li class="page-item">
                        <a id="previous-page-btn" class="page-link" aria-label="Previous">
                            {{ page_obj.previous_page_number }}
                        </a>
                    </li>
                {% endif %}
            {% endif %}

            {% if page_obj.paginator.num_pages > 1 %}
                <li class="page-item">
                    <a class="page-link" style="color: #333333">
                        {{ page_obj.number }}
                    </a>
                </li>
            {% endif %}

            {% if page_obj.has_next %}
                {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                    <li class="page-item">
                        <a id="next-page-btn" class="page-link" aria-label="Next">
                            {{ page_obj.next_page_number }}
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" style="color: #333333">
                            ...
                        </a>
                    </li>
                {% endif %}

                <li class="page-item">
                    <a id="last-page-btn" class="page-link" aria-label="Last">
                        <span aria-hidden="true">
                            {{ page_obj.paginator.num_pages }}
                        </span>
                    </a>
                </li>
        {% endif %}
        </ul>
    </nav>

</div>
<script>
    {% if page_obj.has_next %}
        $("#next-page-btn").attr("href", next_page_url());
        $("#last-page-btn").attr("href", last_page_url());
        function last_page_url() {
            let new_url = window.location.href;
            new_url = removeParam('page', new_url);
            return new_url + "&page={{ page_obj.paginator.num_pages }}";
        }
        function next_page_url() {
            let new_url = window.location.href;
            new_url = removeParam('page', new_url);
            return new_url + "&page={{ page_obj.next_page_number }}";
        }
    {% endif %}

    {% if page_obj.has_previous %}
        $("#first-page-btn").attr("href", first_page_url());
        $("#previous-page-btn").attr("href", previous_page_url());
        function previous_page_url() {
            let new_url = window.location.href;
            new_url = removeParam('page', new_url);
            return new_url + "&page={{ page_obj.previous_page_number }}";
        }
        function first_page_url() {
            let new_url = window.location.href;
            new_url = removeParam('page', new_url);
            return new_url + "&page=1";
        }
    {% endif %}
</script>