{% extends 'user/base.html' %}
{% load i18n %}
{% block content %}
    <div class="d-flex align-items-center justify-content-center min-vh-100">
        <form method="post" class="auth-form border px-3 py-4 rounded">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    <div class="text-danger mt-3">
                        {{ field.errors }}
                    </div>
                </div>
            {% endfor %}
            <div class="text-danger">
                {{ form.non_field_errors }}
            </div>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li class="text-success" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="mb-3">
                <button type="submit" class="we-btn-primary w-100">{% translate 'Change password' %}</button>
            </div>
            <div class="d-flex justify-content-between">
                <a href="{% url 'signup-mobile-1' %}">{% translate 'Signup' %}</a>
                <a href="{% url 'login' %}">   {% translate 'Login' %}</a>
            </div>
        </form>
    </div>
{% endblock %}
