.upload-icon {
	background-color: lavender;
}

.drag-area{
	background-color: antiquewhite;
	border: 2px dashed #fff;
	height: 500px;
	width: 700px;
	border-radius: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.drag-area.active{
  border: 2px solid #fff;
}