{% extends "video/base.html" %}
{% load i18n %}
{% block content %}
    <div class="container pt-5" style="max-width: 1200px;">
        <div class="mb-5">
            <h2>
                قوانین
            </h2>
        </div>
        <hr>
        <div>
            <h4>
                قوانین محتوا
            </h4>
            <p style="color: #555555">
                برای تجربه‌ای بهتر در تولید محتوا قوانین زیر را بادقت مطالعه فرمایید
            </p>
            <ul style="color: #666666; line-height: 30px;">
                <li>
                    حق نشر ویدیوهای بارگذاری شده (دوبله، فیلم و سریال ایرانی و...) را رعایت کنید.
                </li>
                <li>
                    ویدیوها نباید با شئونات اخلاقی و عرف جامعه اسلامی مغایرت داشته باشند.
                </li>
                <li>
                     تمسخر شهروندان در ویدیوها ممنوع است، در صورت گزارش، ویدیو حذف می‌شود.
                </li>
                <li>
                    از انتشار ویدیوهایی که منجر به ایجاد تنش و التهاب سیاسی می‌شوند، بپرهیزید.
                </li>
                <li>
                    از انتشار ویدیوهای تکراری در یک یا چند کانال به طور هم‌زمان خودداری کنید.
                </li>
                <li>
                    از انتشار ویدیوهای اهانت‌آمیز به اقلیت‌های قومی و مذهبی بپرهیزید.
                </li>
                <li>
                    از انتشار ویدیو با تصاویر دل‌خراش خودداری کنید.
                </li>
                <li>
                    از جعل هویت اشخاص یا نهادها و همینطور نسبت دادن بیانات و سخنان دروغین به افراد و نهاد های خاص خودداری کنید.
                </li>
                <li>
                    از انتشار ویدیوهایی که به سایتهای غیر قانونی و غیر اخلاقی و مبتذل و همینطور سایتهایی که به هر نحو مناسبات فرهنگی و اخلاقی و قانونی جامعه را زیر پا می گذارند، اشاره می‌کنند، خودداری کنید.
                </li>
            </ul>
        </div>
        <br>
        <hr>
        <div>
            <h4>
                قوانین سایت
            </h4>
            <p>

            </p>
            <ul style="color: #666666; line-height: 30px;">
                <li>
                    این سایت تابع کلیه قوانین موضوعه کشور به‌خصوص قانون تجارت الکترونیک است لذا نقض هر رفتاری که متضمن نقض هریک از قوانین کشور باشد مجرمانه تلقی می‌گردد و قابل پیگیری است.
                </li>
                <li>
                    این سایت بستر بارگذاری ویدیو را به‌صورت رایگان در اختیار کاربران قرار داده است و حق پخش تبلیغات در ویدیوهای بارگذاری شده در سایت از حقوق سایت است.
                </li>
                <li>
                    پس از بارگذاری ویدیو، حقوق مربوط به انتشار، حذف و ویرایش ویدیوهای بارگذاری شده نزد این سایت محفوظ خواهد ‌ماند.
                </li>
            </ul>
        </div>
        <br>

    </div>
{% endblock %}
