{% extends "video/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'video/styles/video_list_home.css' %}">

    <div class="container">
        <div class="row py-3 px-2 d-flex justify-content-end align-items-center">
            <div class="col-9">
                <h5 class="m-0">
                    {% trans 'My videos' %}
                </h5>
            </div>

            <div class="col-3">
                <div class="row py-2">
                    <div class="col-4 p-0 d-flex justify-content-end align-items-center">
                        <button type="button" class="fab d-none d-lg-flex" style="display: none !important;">
                            <a href="{% url 'video:upload_video' %}">
                                <img src="{% static "video/images/add_video_file.png" %}" style="height: 30px; width: 30px;">
                            </a>
                        </button>
                    </div>
                    <div class="col-8 d-flex justify-content-start align-items-center" style="overflow: hidden;">
                        <a href="{% url 'video:upload_video' %}" type="btn" class="we-btn-primary">
                            <h6 class="m-0">
                                {% trans "upload video" %}
                            </h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-right">
            {% for video in videos %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 card bg-light pb-3 border-0" style="max-width: 250px;">
                    <div class="bg-darkgray" style="height: 112px;">
                        <a href="{% url 'video:video-detail' code=video.code %}"
                           class="h-100 w-100 d-flex justify-content-center align-items-center position-relative">
                            <img class="card-img-top video-card-img"
                                 alt="Thumbnail"
                                 {% if video.thumbnail %}
                                 src="{{ video.thumbnail.url }}"
                                 {% else %}
                                 src="{% static 'video/images/logo.png' %}"
                                 {% endif %}>
                        </a>
                    </div>

                    <div class="row mt-2">
                        <div class="col-9 ps-3">
                            <a href="{% url 'video:video-detail' code=video.code %}">
                                <h6 class="text-end text-black one-line"> {{ video.title }} </h6>
                            </a>
                        </div>

                        <div class="col-3 d-flex justify-content-center">
                            <a href="{% url 'video:edit_video' code=video.code %}">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
